body {
    background-color: lavender;
    }

#questions {
  font-size: 7.25vh;
  text-align: center;
  margin-top: 4%;
}

#score {
    margin-top: 2%;
}

.purpleStart {
    color: #c0a9ec;
}

#results{
    margin-top: 2%;
}

table, th, td {
    border: 3.5px solid white;
    text-align: center;
}

.column1 {
    width: 12em;  
}

.userAnswer {
    width: 10em;    
}

.correctAnswer {
    width: 10em;
}

.pickone {
    display: inline;
    position: relative;
    margin: 10px;
}

#start {
    height: 2em;
    width: 4em;
    background: #c0a9ec;
    color: #ffffff;
    text-align: center;
    padding: 4px;
    font-size: 5.25vh;
    border-radius: 10px;
    margin-top: 2%;
}

img {
    width: 50%;
    height: auto;
    margin-top: 4%;
}

#answersFrame {
    text-align: center;
    font-size: 7.25vh;
    margin-top: 2%;
    line-spacing: 2%;
}

#next {
    height: 2em;
    width: 4em;
    background: #c0a9ec;
    color: #ffffff;
    text-align: center;
    font-size: 5.25vh;
    border-radius: 10px;
    margin-top: 4%;
    margin-left: 45%;
}

.choices {
    margin-top: 1%;
}

@media only screen and (max-width: 500px) {
    #questions {
        text-align: center;
    }
    #start {
        font-size: 1em;
        margin-top: 4%;
        margin-left: -9%;
    }
    img {
        width: 100%;
        height: 500px;
        margin-top: 4%;
    }
    .wrapper {
        margin-left: 0%;

    }
    body {
        background-color: lightcyan;
    }
  }

