body {
        background-color: lavender;
    }

.wrapper {
	margin-left: 25%;
}

#score {
    margin-top: 2%;
}

.purpleStart {
	color: #c0a9ec;
}

#results{
    margin-top: 2%;
}

table, th, td {
    border: 3.5px solid white;
    text-align: center;
}

.column1 {
    width: 12em;  
}

.userAnswer {
    width: 10em;    
}

.correctAnswer {
    width: 10em;
}

.pickone {
    display: inline;
    position: relative;
    margin: 2px;
}

#start {
    position: absolute;
    height: 40px;
    width: 75px;
    background: #c0a9ec;
    color: #ffffff;
    text-align: center;
    padding: 4px;
    font-size: 1em;
    border-radius: 10px;
    margin-top: 2%;
    margin-left: 16%;
}

.newYorkPics {
    margin-top: 2%;
    width: 180em;
}

#next {
    position: absolute;
    height: 40px;
    width: 75px;
    background: #c0a9ec;
    color: #ffffff;
    text-align: center;
    padding: 4px;
    font-size: 1em;
    border-radius: 10px;
    margin-top: 2%;
    margin-left: 19%;
}

.choices {
    margin-top: 1%;
}

@media only screen and (max-width: 500px) {
    #questions {
        text-align: center;
    }
    #start {
        margin-left: -2%;
        font-size: .5em;
        margin-top: 4%;
    }
    .newYorkPics {
        width: 25%;
        margin-left: 25%;
    }
    .wrapper {
        margin-left: 0%;
    }
    body {
        background-color: lightpink;
    }
  }
